@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background:
    radial-gradient(
      circle at top right,
      rgba(139, 92, 246, 0.18),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(59, 130, 246, 0.12),
      transparent 30%
    ),
    #050816;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.premium-card {
  backdrop-filter: blur(14px);
  transition: all 0.3s ease;
}

.premium-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(139,92,246,0.12);
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Global Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.6);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.6) #050816;
}
